*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: antiquewhite;
    height: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
header>ul{
    display: flex; 
    gap: 30px;
    padding: 30px;
}
.namelogo{
    margin-right:180px ;
}
.Amancio{
font-size: x-large;
}
.Chiluvane{
    color: rgb(89, 13, 161);
}
